@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,200&family=Shanti&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Shanti";
}
//Colors
@Green: #5b913b;
@SaturedGreen: #77966d;
@DarkGreen: #25341d;
@Browm: #402e19;
@LightGray: #f8f4e3;
@VeryDarkGray: #121417;

//Mixins
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Layout

html {
  scroll-behavior: smooth;
}

body {
  main {
    position: relative;

    header {
      .center();
      width: 100%;
      height: 128px;
      position: sticky;
      top: 0;
      background-color: @SaturedGreen;
      z-index: 1000;

      nav {
        width: 70%;
        height: 60%;
        max-height: 70px;

        ul {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 100%;
          height: 100%;

          li {
            list-style: none;

            a {
              text-decoration: none;
              color: @LightGray;
              font-size: 18px;
              // font-weight: bold;
            }

            button {
              background-color: @LightGray;
              border: none;
              height: 35px;
              width: 140px;
              cursor: pointer;

              a {
                font-family: "Shanti";
                color: @VeryDarkGray;
                font-size: 18px;
                font-weight: normal;
              }
            }
          }
        }
      }
    }

    .banner {
      width: 100%;
      height: fit-content;

      .banner-logo {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;

        .logo-presentation {
          width: 30%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0 32px;

          .logo-img {
            width: 100%;
            margin: 0 0 32px 0;
            display: flex;
            justify-content: start;
          }

          .text-presentation {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
              margin: 0 0 16px 0;
              font-size: 28px;
              text-align: justify;
              width: 100%;
            }

            p {
              width: 100%;
              text-align: justify;
              font-size: 20px;
            }

            button {
              width: 100%;
              height: 50px;
              margin: 32px 0 0 0;
              border: none;
              background-color: @Green;
              color: @LightGray;
              font-size: 22px;
              cursor: pointer;

              &:hover {
                background-color: @DarkGreen;
              }
            }
          }
        }

        .banner-img {
          width: 40%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
            max-width: 900px;
          }
        }
      }
    }

    .services-locations {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;

      h1 {
        font-size: 50px;
      }

      .group-cards {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 70%;
        padding: 0 10%;
        margin: 32px 0 16px 0;

        .cards {
          width: 33%;
          max-width: 414px;
          height: 100%;
          max-height: 648px;
          position: relative;
          background-color: @SaturedGreen;
          border: none;

          img {
            width: 100%;
            height: 100%;
          }

          p {
            width: 100%;
            position: absolute;
            bottom: 0;
            margin: 0 0 16px 0;
            font-size: 30px;
            color: @LightGray;
          }

          &:nth-child(2) {
            margin: 0 16px;
          }
        }
      }

      p {
        width: 65%;
        text-align: center;
        font-size: 20px;
      }
    }

    .about-us {
      .center();
      width: 100%;
      height: 90vh;
      background-color: @DarkGreen;

      .text-about-us {
        .center();
        width: 35%;
        height: 60%;

        article {
          width: 90%;

          h1 {
            font-size: 50px;
            color: @LightGray;
            margin-bottom: 32px;
          }

          p {
            color: @LightGray;
            font-size: 20px;
          }
        }
      }

      .img-about-us {
        width: 35%;
        height: 80%;

        display: flex;
        justify-content: end;

        img {
          width: 70%;
          height: 100%;
        }
      }
    }

    .quote-call {
      .center();
      width: 100%;
      height: 50vh;
      background-image: url("img/BANNER-ORÇAMENTO-1.png");
      background-size: cover;

      .content-quote-call {
        .center();
        flex-direction: column;
        width: 40%;
        height: 100%;

        article {
          text-align: center;
          margin: 0 0 32px 0;

          p {
            font-size: 20px;
            color: @LightGray;
            margin: 16px 0;
          }
        }

        button {
          width: 100%;
          max-width: 400px;
          height: 50px;
          background-color: @Green;
          border: none;
          font-size: 24px;
          color: @LightGray;
          cursor: pointer;

          &:hover {
            background-color: @DarkGreen;
          }
        }
      }
    }

    .services {
      .center();
      width: 100%;
      height: 100vh;
      background-color: @LightGray;

      .content-services {
        .center();
        flex-direction: column;
        width: 70%;
        height: 100%;

        h1 {
          font-size: 50px;
          margin: 32px 0;
        }

        .group-cards-services {
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 60%;
          max-height: 440px;
          margin: 32px 0;

          .cards-services {
            width: 22%;
            max-width: 325px;
            height: 100%;
            position: relative;

            p {
              width: 100%;
              position: absolute;
              top: 0;
              margin: 16px 0;
              font-size: 28px;
              text-align: center;
              color: @LightGray;
            }

            img {
              width: 100%;
              height: 100%;
            }

            .circle-services {
              width: 60px;
              height: 60px;
              position: absolute;
              bottom: -8%;
              right: calc(50% - 30px);
              background-color: @DarkGreen;
              border: 4px solid @LightGray;
              border-radius: 50%;
            }
          }
        }

        article {
          text-align: center;
          margin: 32px 0;
          p {
            font-size: 20px;
            margin: 8px 0;
          }
        }
      }
    }

    .quote-call-ii {
      width: 100%;
      height: 951px;
      background-color: red;
    }

    .benefits {
      .center();
      width: 100%;
      height: 100vh;
      background-color: @LightGray;

      .content-benefits {
        .center();
        flex-direction: column;
        width: 70%;
        height: 100%;

        h1 {
          font-size: 50px;
          margin: 32px 0;
        }

        .group-cards-benefits {
          display: flex;
          justify-content: space-evenly;
          width: 100%;
          height: 60%;
          max-height: 400px;
          margin: 32px 0;

          .cards-benefits {
            width: 25%;
            max-width: 287px;
            height: 100%;
            position: relative;
          }

          p {
            width: 100%;
            position: absolute;
            bottom: 10%;
            font-size: 28px;
            text-align: center;
            color: @LightGray;
          }

          img {
            width: 100%;
            height: 100%;
          }

          .circle-benefits {
            width: 60px;
            height: 60px;
            position: absolute;
            bottom: -8%;
            right: calc(50% - 30px);
            background-color: @SaturedGreen;
            border: 4px solid @LightGray;
            border-radius: 50%;
          }
        }

        article {
          width: 35%;
          text-align: center;
          margin: 32px 0;

          p {
            font-size: 20px;
          }
        }
      }
    }

    .faq {
      .center();
      width: 100%;
      height: 100vh;
      background-color: @DarkGreen;

      .faq-content {
        .center();
        width: 70%;
        height: 100%;

        .faq-text {
          .center();
          width: 50%;
          height: 100%;

          h1 {
            font-size: 50px;
            color: @LightGray;
          }

          p {
            width: 80%;
            margin: 16px 0;
            font-size: 20px;
            color: @LightGray;
          }
        }

        .faq-questions {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 50%;
          height: 80%;

          .question {
            &:nth-child(2) {
              margin: 32px 0;
            }

            .question-content {
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 50px;
              padding: 16px;
              background-color: @SaturedGreen;
              cursor: pointer;

              p {
                color: @LightGray;
                font-size: 18px;
                margin-right: 8px;
              }

              .down {
                color: @LightGray;
                transform: rotate(0deg);
                transition: transform 0.5s;

                &.active {
                  transform: rotate(180deg);
                  transition: transform 0.5s;
                }
              }
            }

            .answer {
              height: 0;
              transition: height 0.3s;
              color: @LightGray;
              font-size: 16px;
              background-color: @SaturedGreen;
              overflow: auto;

              p {
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.5s, visibility 0.5s;
              }

              &.active {
                height: 100px;
                transition: height 0.3s;
                padding: 16px;

                p {
                  visibility: visible;
                  opacity: 1;
                  transition: opacity 0.5s, visibility 0.5s;
                }
              }
            }
          }
        }
      }
    }

    .contacts {
      .center();
      width: 100%;
      height: 100vh;
      background-color: @LightGray;

      .contacts-content {
        .center();
        flex-direction: column;
        width: 70%;
        height: 100%;

        h1 {
          font-size: 50px;
          margin: 32px 0;
        }

        .group-form-text {
          display: flex;
          justify-content: space-evenly;
          width: 100%;
          height: 65%;

          .form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 40%;
            height: 100%;
            padding: 32px;
            text-align: center;
            margin-right: 32px;
            background-color: @SaturedGreen;

            h2 {
              color: @LightGray;
              font-size: 30px;
            }

            form {
              margin: 0 auto;
              display: flex;
              flex-direction: column;
              width: 80%;

              input {
                height: 35px;
                margin: 8px 0;
                padding: 8px;
                border: none;
              }

              .street-num {
                display: flex;
                justify-content: space-between;
                width: 100%;

                input {
                  &:nth-child(1) {
                    width: 75%;
                  }

                  &:nth-child(2) {
                    width: 20%;
                  }
                }
              }

              select {
                height: 35px;
                margin: 8px 0;
                padding: 8px;
                border: none;
              }

              .form-button {
                margin: 16px auto 0;
                width: 50%;
                font-size: 18px;
                font-weight: bold;
                cursor: pointer;
              }
            }
          }

          .text-contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 40%;
            height: 100%;

            article {
              width: 90%;

              h2 {
                font-size: 30px;
              }

              p {
                font-size: 20px;
              }
            }

            .group-icons {
              margin: 32px 0;

              img {
                margin: 0 4px;
              }
            }
          }
        }
      }
    }

    .portifolio {
      width: 100%;
      height: 100vh;
      background-color: @DarkGreen;
    }

    footer {
      width: 100%;
      height: 70vh;

      .content-footer {
        .center();
        width: 100%;
        height: 90%;
        background-image: url("img/BANNER_ORÇAMENTOS-2.png");
        background-size: cover;

        .about-us-footer {
          width: 20%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          img {
            width: 140px;
            height: 90px;
          }

          article {
            p {
              color: @LightGray;
            }
          }
        }

        .services-footer {
          .center();
          width: 20%;
          height: 100%;
          margin: 0 32px;

          ul {
            width: 80%;

            li {
              margin: 16px 0;

              list-style: none;
              color: @LightGray;
            }
          }
        }

        .nav-footer {
          .center();
          width: 20%;
          height: 100%;

          ul {
            width: 100%;

            li {
              color: @LightGray;
              margin: 16px 0;

              &:nth-child(1) {
                list-style: none;
              }

              a {
                text-decoration: none;
                color: @LightGray;
              }
            }
          }
        }
      }

      .copy {
        width: 100%;
        height: 10%;
        background-color: @Green;
      }
    }
  }
}
