@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//Colors
@Green: #5b913b;
@SaturedGreen: #77966d;
@DarkGreen: #25341d;
@Browm: #402e19;
@LightGray: #f8f4e3;
@VeryDarkGray: #121417;

//Mixins
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Layout
body {
  main {
    position: relative;

    header {
      .center();
      width: 100%;
      height: 128px;
      position: sticky;
      top: 0;
      background-color: @LightGray;
      z-index: 1000;
      border-bottom: 1px solid #b4b4b4;

      nav {
        width: 70%;
        height: 60%;
        max-height: 70px;

        ul {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 100%;
          height: 100%;

          li {
            list-style: none;

            a {
              text-decoration: none;
              font-size: 18px;
            }

            button {
              background-color: @Green;
              border: none;
              height: 35px;
              width: 140px;
              cursor: pointer;

              &:hover {
                background-color: @DarkGreen;
              }

              a {
                color: #fff;
                font-size: 18px;
              }
            }
          }
        }
      }
    }

    .banner {
      width: 100%;
      height: fit-content;
      position: relative;
      text-align: center;

      .banner-logo {
        width: 100%;
        height: 1140px;
        background-image: url("img/BANNER_PRINCIPAL_DESKTOP .png");
        background-size: cover;

        img {
          width: 900px;
        }
      }

      .group-cards {
        display: flex;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        max-height: 400px;
        margin: auto;
        position: absolute;
        bottom: -5%;
        right: calc(50% - 653.5px);

        .cards {
          width: 425px;
          height: 400px;
          background-color: @SaturedGreen;

          &:nth-child(2) {
            margin: 0 16px;
          }
        }
      }
    }

    .about-us {
      width: 100%;
      height: 1391px;
      background-color: @LightGray;
    }

    .quote-call {
      width: 100%;
      height: 500px;
      background-color: @DarkGreen;
    }

    .services {
      width: 100%;
      height: 1057px;
      background-color: @SaturedGreen;
    }

    .benefits {
      width: 100%;
      height: 951px;
      background-color: @DarkGreen;
    }

    .why-us {
      width: 100%;
      height: 858px;
      background-color: @LightGray;
    }

    .faq {
      width: 100%;
      height: 719px;
      background-color: @SaturedGreen;
    }

    .contacts {
      width: 100%;
      height: 1457px;
      background-color: @LightGray;
    }

    .portfolio {
      width: 100%;
      height: 1152px;
      background-color: @SaturedGreen;
    }

    footer {
      width: 100%;
      height: 700px;
      background-color: @DarkGreen;
    }
  }
}
